USE [master]
GO
/****** Object:  Database [OrderManagementDB]    Script Date: 01/02/2026 03:10:35 p. m. ******/
CREATE DATABASE [OrderManagementDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OrderManagementDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\OrderManagementDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OrderManagementDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\OrderManagementDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OrderManagementDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OrderManagementDB]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 01/02/2026 03:10:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[ClienteId] [bigint] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Identidad] [nvarchar](50) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ClienteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleOrden]    Script Date: 01/02/2026 03:10:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleOrden](
	[DetalleOrdenId] [bigint] IDENTITY(1,1) NOT NULL,
	[OrdenId] [bigint] NOT NULL,
	[ProductoId] [bigint] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[Impuesto] [decimal](10, 2) NOT NULL,
	[Subtotal] [decimal](10, 2) NOT NULL,
	[Total] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DetalleOrdenId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orden]    Script Date: 01/02/2026 03:10:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orden](
	[OrdenId] [bigint] IDENTITY(1,1) NOT NULL,
	[ClienteId] [bigint] NOT NULL,
	[Impuesto] [decimal](10, 2) NOT NULL,
	[Subtotal] [decimal](10, 2) NOT NULL,
	[Total] [decimal](10, 2) NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrdenId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 01/02/2026 03:10:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[ProductoId] [bigint] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Descripcion] [nvarchar](500) NULL,
	[Precio] [decimal](10, 2) NOT NULL,
	[Existencia] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cliente] ON 

INSERT [dbo].[Cliente] ([ClienteId], [Nombre], [Identidad], [CreatedAt]) VALUES (1, N'Juan Pérez', N'0801-1990-12345', CAST(N'2026-02-01T08:32:02.8000000' AS DateTime2))
INSERT [dbo].[Cliente] ([ClienteId], [Nombre], [Identidad], [CreatedAt]) VALUES (2, N'María González', N'0801-1985-67890', CAST(N'2026-02-01T08:32:02.8000000' AS DateTime2))
INSERT [dbo].[Cliente] ([ClienteId], [Nombre], [Identidad], [CreatedAt]) VALUES (4, N'string', N'4063-3528-08640', CAST(N'2026-02-01T14:05:01.2800000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Cliente] OFF
GO
SET IDENTITY_INSERT [dbo].[DetalleOrden] ON 

INSERT [dbo].[DetalleOrden] ([DetalleOrdenId], [OrdenId], [ProductoId], [Cantidad], [Impuesto], [Subtotal], [Total]) VALUES (1, 4, 1, 12, CAST(2339.98 AS Decimal(10, 2)), CAST(15599.88 AS Decimal(10, 2)), CAST(17939.86 AS Decimal(10, 2)))
INSERT [dbo].[DetalleOrden] ([DetalleOrdenId], [OrdenId], [ProductoId], [Cantidad], [Impuesto], [Subtotal], [Total]) VALUES (2, 4, 2, 13, CAST(194.98 AS Decimal(10, 2)), CAST(1299.87 AS Decimal(10, 2)), CAST(1494.85 AS Decimal(10, 2)))
INSERT [dbo].[DetalleOrden] ([DetalleOrdenId], [OrdenId], [ProductoId], [Cantidad], [Impuesto], [Subtotal], [Total]) VALUES (3, 5, 1, 2, CAST(390.00 AS Decimal(10, 2)), CAST(2599.98 AS Decimal(10, 2)), CAST(2989.98 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[DetalleOrden] OFF
GO
SET IDENTITY_INSERT [dbo].[Orden] ON 

INSERT [dbo].[Orden] ([OrdenId], [ClienteId], [Impuesto], [Subtotal], [Total], [FechaCreacion]) VALUES (4, 1, CAST(2534.96 AS Decimal(10, 2)), CAST(16899.75 AS Decimal(10, 2)), CAST(19434.71 AS Decimal(10, 2)), CAST(N'2026-02-01T13:33:45.6600000' AS DateTime2))
INSERT [dbo].[Orden] ([OrdenId], [ClienteId], [Impuesto], [Subtotal], [Total], [FechaCreacion]) VALUES (5, 2, CAST(426.00 AS Decimal(10, 2)), CAST(2839.98 AS Decimal(10, 2)), CAST(3265.98 AS Decimal(10, 2)), CAST(N'2026-02-01T14:08:54.6700000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Orden] OFF
GO
SET IDENTITY_INSERT [dbo].[Producto] ON 

INSERT [dbo].[Producto] ([ProductoId], [Nombre], [Descripcion], [Precio], [Existencia], [CreatedAt]) VALUES (1, N'Laptop Dell XPS 15', N'Laptop de alto rendimiento', CAST(1299.99 AS Decimal(10, 2)), 36, CAST(N'2026-02-01T08:32:02.8133333' AS DateTime2))
INSERT [dbo].[Producto] ([ProductoId], [Nombre], [Descripcion], [Precio], [Existencia], [CreatedAt]) VALUES (2, N'string', N'string', CAST(40.00 AS Decimal(10, 2)), 24, CAST(N'2026-02-01T08:32:02.8133333' AS DateTime2))
INSERT [dbo].[Producto] ([ProductoId], [Nombre], [Descripcion], [Precio], [Existencia], [CreatedAt]) VALUES (3, N'Teclado Mecánico Keychron K2', N'Teclado mecánico retroiluminado', CAST(89.99 AS Decimal(10, 2)), 75, CAST(N'2026-02-01T08:32:02.8133333' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Producto] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Cliente__5C06DCB4D30CA43D]    Script Date: 01/02/2026 03:10:36 p. m. ******/
ALTER TABLE [dbo].[Cliente] ADD UNIQUE NONCLUSTERED 
(
	[Identidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DetalleOrden_OrdenId]    Script Date: 01/02/2026 03:10:36 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_DetalleOrden_OrdenId] ON [dbo].[DetalleOrden]
(
	[OrdenId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DetalleOrden_ProductoId]    Script Date: 01/02/2026 03:10:36 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_DetalleOrden_ProductoId] ON [dbo].[DetalleOrden]
(
	[ProductoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Orden_ClienteId]    Script Date: 01/02/2026 03:10:36 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Orden_ClienteId] ON [dbo].[Orden]
(
	[ClienteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cliente] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Orden] ADD  DEFAULT ((0)) FOR [Impuesto]
GO
ALTER TABLE [dbo].[Orden] ADD  DEFAULT ((0)) FOR [Subtotal]
GO
ALTER TABLE [dbo].[Orden] ADD  DEFAULT ((0)) FOR [Total]
GO
ALTER TABLE [dbo].[Orden] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Producto] ADD  DEFAULT ((0)) FOR [Existencia]
GO
ALTER TABLE [dbo].[Producto] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[DetalleOrden]  WITH CHECK ADD  CONSTRAINT [FK_DetalleOrden_Orden] FOREIGN KEY([OrdenId])
REFERENCES [dbo].[Orden] ([OrdenId])
GO
ALTER TABLE [dbo].[DetalleOrden] CHECK CONSTRAINT [FK_DetalleOrden_Orden]
GO
ALTER TABLE [dbo].[DetalleOrden]  WITH CHECK ADD  CONSTRAINT [FK_DetalleOrden_Producto] FOREIGN KEY([ProductoId])
REFERENCES [dbo].[Producto] ([ProductoId])
GO
ALTER TABLE [dbo].[DetalleOrden] CHECK CONSTRAINT [FK_DetalleOrden_Producto]
GO
ALTER TABLE [dbo].[Orden]  WITH CHECK ADD  CONSTRAINT [FK_Orden_Cliente] FOREIGN KEY([ClienteId])
REFERENCES [dbo].[Cliente] ([ClienteId])
GO
ALTER TABLE [dbo].[Orden] CHECK CONSTRAINT [FK_Orden_Cliente]
GO
/****** Object:  StoredProcedure [dbo].[SP_Clientes_Actualizar]    Script Date: 01/02/2026 03:10:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- SP: Actualizar cliente existente
-- =============================================
CREATE   PROCEDURE [dbo].[SP_Clientes_Actualizar]
    @ClienteId BIGINT,
    @Nombre NVARCHAR(100),
    @Identidad NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        -- Validar que el cliente existe
        IF NOT EXISTS (SELECT 1 FROM Cliente WHERE ClienteId = @ClienteId)
        BEGIN
            SELECT 0 AS CodeStatus, 'El cliente no existe' AS MessageStatus;
            RETURN;
        END

        -- Validar que el nombre no esté vacío
        IF LTRIM(RTRIM(@Nombre)) = ''
        BEGIN
            SELECT 0 AS CodeStatus, 'El nombre del cliente es requerido' AS MessageStatus;
            RETURN;
        END

        -- Validar que la identidad no esté vacía
        IF LTRIM(RTRIM(@Identidad)) = ''
        BEGIN
            SELECT 0 AS CodeStatus, 'La identidad del cliente es requerida' AS MessageStatus;
            RETURN;
        END

        -- Validar que la identidad sea única (excepto para el mismo cliente)
        IF EXISTS (SELECT 1 FROM Cliente WHERE Identidad = @Identidad AND ClienteId != @ClienteId)
        BEGIN
            SELECT 0 AS CodeStatus, 'Ya existe otro cliente con la identidad ' + @Identidad AS MessageStatus;
            RETURN;
        END

        -- Actualizar cliente
        UPDATE Cliente
        SET 
            Nombre = @Nombre,
            Identidad = @Identidad
        WHERE ClienteId = @ClienteId;

        -- Retornar éxito
        SELECT 1 AS CodeStatus, 'Cliente actualizado exitosamente' AS MessageStatus;
    END TRY
    BEGIN CATCH
        SELECT 0 AS CodeStatus, ERROR_MESSAGE() AS MessageStatus;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Clientes_Buscar]    Script Date: 01/02/2026 03:10:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- SP: Buscar cliente por ID
-- =============================================
CREATE   PROCEDURE [dbo].[SP_Clientes_Buscar]
    @ClienteId BIGINT
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        ClienteId,
        Nombre,
        Identidad,
        CreatedAt
    FROM Cliente
    WHERE ClienteId = @ClienteId;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Clientes_BuscarPorIdentidad]    Script Date: 01/02/2026 03:10:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- SP: Buscar cliente por Identidad (validar duplicados)
-- =============================================
CREATE   PROCEDURE [dbo].[SP_Clientes_BuscarPorIdentidad]
    @Identidad NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        ClienteId,
        Nombre,
        Identidad,
        CreatedAt
    FROM Cliente
    WHERE Identidad = @Identidad;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Clientes_Eliminar]    Script Date: 01/02/2026 03:10:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- SP: Eliminar cliente
-- =============================================
CREATE   PROCEDURE [dbo].[SP_Clientes_Eliminar]
    @ClienteId BIGINT
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        -- Validar que el cliente existe
        IF NOT EXISTS (SELECT 1 FROM Cliente WHERE ClienteId = @ClienteId)
        BEGIN
            SELECT 0 AS CodeStatus, 'El cliente no existe' AS MessageStatus;
            RETURN;
        END

        -- Validar que el cliente no tenga órdenes asociadas
        IF EXISTS (SELECT 1 FROM Orden WHERE ClienteId = @ClienteId)
        BEGIN
            SELECT 0 AS CodeStatus, 'No se puede eliminar el cliente porque tiene órdenes asociadas' AS MessageStatus;
            RETURN;
        END

        -- Eliminar cliente
        DELETE FROM Cliente WHERE ClienteId = @ClienteId;

        -- Retornar éxito
        SELECT 1 AS CodeStatus, 'Cliente eliminado exitosamente' AS MessageStatus;
    END TRY
    BEGIN CATCH
        SELECT 0 AS CodeStatus, ERROR_MESSAGE() AS MessageStatus;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Clientes_Insertar]    Script Date: 01/02/2026 03:10:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- SP: Insertar nuevo cliente
-- =============================================
CREATE   PROCEDURE [dbo].[SP_Clientes_Insertar]
    @Nombre NVARCHAR(100),
    @Identidad NVARCHAR(50),
    @CreatedAt DATETIME2
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        -- Validar que el nombre no esté vacío
        IF LTRIM(RTRIM(@Nombre)) = ''
        BEGIN
            SELECT 0 AS CodeStatus, 'El nombre del cliente es requerido' AS MessageStatus;
            RETURN;
        END

        -- Validar que la identidad no esté vacía
        IF LTRIM(RTRIM(@Identidad)) = ''
        BEGIN
            SELECT 0 AS CodeStatus, 'La identidad del cliente es requerida' AS MessageStatus;
            RETURN;
        END

        -- Validar que la identidad sea única
        IF EXISTS (SELECT 1 FROM Cliente WHERE Identidad = @Identidad)
        BEGIN
            SELECT 0 AS CodeStatus, 'Ya existe un cliente con la identidad ' + @Identidad AS MessageStatus;
            RETURN;
        END

        -- Insertar cliente
        INSERT INTO Cliente (Nombre, Identidad, CreatedAt)
        VALUES (@Nombre, @Identidad, @CreatedAt);

        -- Retornar éxito
        SELECT 1 AS CodeStatus, 'Cliente creado exitosamente' AS MessageStatus;
    END TRY
    BEGIN CATCH
        SELECT 0 AS CodeStatus, ERROR_MESSAGE() AS MessageStatus;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Clientes_Listar]    Script Date: 01/02/2026 03:10:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- SP: Listar todos los clientes
-- =============================================
CREATE   PROCEDURE [dbo].[SP_Clientes_Listar]
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        ClienteId,
        Nombre,
        Identidad,
        CreatedAt
    FROM Cliente
    ORDER BY ClienteId DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DetalleOrden_Insertar]    Script Date: 01/02/2026 03:10:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- SP: Insertar Detalle de Orden
CREATE   PROCEDURE [dbo].[SP_DetalleOrden_Insertar]
    @OrdenId BIGINT,
    @ProductoId BIGINT,
    @Cantidad INT,
    @Impuesto DECIMAL(10,2),
    @Subtotal DECIMAL(10,2),
    @Total DECIMAL(10,2),
    @DetalleOrdenId BIGINT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    
    IF NOT EXISTS (SELECT 1 FROM Orden WHERE OrdenId = @OrdenId)
    BEGIN
        SELECT 0 AS CodeStatus, 'La orden especificada no existe' AS MessageStatus;
        RETURN;
    END
    
    IF NOT EXISTS (SELECT 1 FROM Producto WHERE ProductoId = @ProductoId)
    BEGIN
        SELECT 0 AS CodeStatus, 'El producto especificado no existe' AS MessageStatus;
        RETURN;
    END
    
    BEGIN TRY
        INSERT INTO DetalleOrden (OrdenId, ProductoId, Cantidad, Impuesto, Subtotal, Total)
        VALUES (@OrdenId, @ProductoId, @Cantidad, @Impuesto, @Subtotal, @Total);
        
        SET @DetalleOrdenId = SCOPE_IDENTITY();
        
        SELECT 1 AS CodeStatus, 'Detalle de orden creado exitosamente' AS MessageStatus;
    END TRY
    BEGIN CATCH
        SELECT 0 AS CodeStatus, ERROR_MESSAGE() AS MessageStatus;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DetalleOrden_PorOrden]    Script Date: 01/02/2026 03:10:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- SP: Obtener Detalles por Orden
CREATE   PROCEDURE [dbo].[SP_DetalleOrden_PorOrden]
    @OrdenId BIGINT
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        DetalleOrdenId,
        OrdenId,
        ProductoId,
        Cantidad,
        Impuesto,
        Subtotal,
        Total
    FROM DetalleOrden
    WHERE OrdenId = @OrdenId
    ORDER BY DetalleOrdenId;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Ordenes_Actualizar]    Script Date: 01/02/2026 03:10:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_Ordenes_Actualizar]
    @OrdenId BIGINT,
    @Impuesto DECIMAL(10,2),
    @Subtotal DECIMAL(10,2),
    @Total DECIMAL(10,2)
AS
BEGIN
    SET NOCOUNT ON;
    
    IF NOT EXISTS (SELECT 1 FROM Orden WHERE OrdenId = @OrdenId)
    BEGIN
        SELECT 0 AS CodeStatus, 'La orden no existe' AS MessageStatus;
        RETURN;
    END
    
    BEGIN TRY
        UPDATE Orden
        SET Impuesto = @Impuesto,
            Subtotal = @Subtotal,
            Total = @Total
        WHERE OrdenId = @OrdenId;
        
        IF @@ROWCOUNT > 0
            SELECT 1 AS CodeStatus, 'Orden actualizada exitosamente' AS MessageStatus;
        ELSE
            SELECT 0 AS CodeStatus, 'No se pudo actualizar la orden' AS MessageStatus;
    END TRY
    BEGIN CATCH
        SELECT 0 AS CodeStatus, ERROR_MESSAGE() AS MessageStatus;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Ordenes_Buscar]    Script Date: 01/02/2026 03:10:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- SP: Buscar Orden por ID
CREATE   PROCEDURE [dbo].[SP_Ordenes_Buscar]
    @OrdenId BIGINT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        -- ===== ORDEN (ENCABEZADO) =====
        o.OrdenId,
        o.ClienteId,
        c.Nombre AS ClienteNombre,
        o.Impuesto,
        o.Subtotal,
        o.Total,
        o.FechaCreacion,
        -- ===== DETALLE =====
        d.DetalleOrdenId,
        d.ProductoId,
        d.Cantidad,
        d.Impuesto,
        d.Subtotal,
        d.Total
    FROM Orden o
    INNER JOIN Cliente c ON c.ClienteId = o.ClienteId
    LEFT JOIN DetalleOrden d ON o.OrdenId = d.OrdenId
    WHERE o.OrdenId = @OrdenId;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Ordenes_Insertar]    Script Date: 01/02/2026 03:10:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_Ordenes_Insertar]
    @ClienteId BIGINT,
    @Impuesto DECIMAL(10,2),
    @Subtotal DECIMAL(10,2),
    @Total DECIMAL(10,2),
    @FechaCreacion DATETIME2,
    @OrdenId BIGINT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    
    IF NOT EXISTS (SELECT 1 FROM Cliente WHERE ClienteId = @ClienteId)
    BEGIN
        SELECT 0 AS CodeStatus, 'El cliente especificado no existe' AS MessageStatus;
        RETURN;
    END
    
    BEGIN TRY
        INSERT INTO Orden (ClienteId, Impuesto, Subtotal, Total, FechaCreacion)
        VALUES (@ClienteId, @Impuesto, @Subtotal, @Total, @FechaCreacion);
        
        SET @OrdenId = SCOPE_IDENTITY();
        
        SELECT 1 AS CodeStatus, 'Orden creada exitosamente' AS MessageStatus;
    END TRY
    BEGIN CATCH
        SELECT 0 AS CodeStatus, ERROR_MESSAGE() AS MessageStatus;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Ordenes_Listar]    Script Date: 01/02/2026 03:10:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

  CREATE   PROCEDURE [dbo].[SP_Ordenes_Listar]

  AS
  BEGIN

  SELECT
    o.OrdenId,
    o.ClienteId,
    o.Impuesto,
    o.Subtotal,
    o.Total,
    o.FechaCreacion,

    d.DetalleOrdenId,
    d.ProductoId,
    d.Cantidad,
    d.Impuesto     AS DetalleImpuesto,
    d.Subtotal     AS DetalleSubtotal,
    d.Total        AS DetalleTotal
FROM Orden o
LEFT JOIN DetalleOrden d ON o.OrdenId = d.OrdenId
ORDER BY o.OrdenId;

  END
GO
/****** Object:  StoredProcedure [dbo].[SP_Productos_Actualizar]    Script Date: 01/02/2026 03:10:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- SP: Actualizar producto existente
-- =============================================
CREATE   PROCEDURE [dbo].[SP_Productos_Actualizar]
    @ProductoId BIGINT,
    @Nombre NVARCHAR(100),
    @Descripcion NVARCHAR(500),
    @Precio DECIMAL(10,2),
    @Existencia INT
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        -- Validar que el producto existe
        IF NOT EXISTS (SELECT 1 FROM Producto WHERE ProductoId = @ProductoId)
        BEGIN
            SELECT 0 AS CodeStatus, 'El producto no existe' AS MessageStatus;
            RETURN;
        END

        -- Validar que el nombre no esté vacío
        IF LTRIM(RTRIM(@Nombre)) = ''
        BEGIN
            SELECT 0 AS CodeStatus, 'El nombre del producto es requerido' AS MessageStatus;
            RETURN;
        END

        -- Validar precio
        IF @Precio <= 0
        BEGIN
            SELECT 0 AS CodeStatus, 'El precio debe ser mayor a 0' AS MessageStatus;
            RETURN;
        END

        -- Validar existencia
        IF @Existencia < 0
        BEGIN
            SELECT 0 AS CodeStatus, 'La existencia no puede ser negativa' AS MessageStatus;
            RETURN;
        END

        -- Actualizar producto
        UPDATE Producto
        SET 
            Nombre = @Nombre,
            Descripcion = @Descripcion,
            Precio = @Precio,
            Existencia = @Existencia
        WHERE ProductoId = @ProductoId;

        -- Retornar éxito
        SELECT 1 AS CodeStatus, 'Producto actualizado exitosamente' AS MessageStatus;
    END TRY
    BEGIN CATCH
        SELECT 0 AS CodeStatus, ERROR_MESSAGE() AS MessageStatus;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Productos_ActualizarExistencia]    Script Date: 01/02/2026 03:10:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- SP: Actualizar Existencia de Producto
-- =============================================
CREATE   PROCEDURE [dbo].[SP_Productos_ActualizarExistencia]
    @ProductoId BIGINT,
    @Cantidad INT
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Verificar si el producto existe
    IF NOT EXISTS (SELECT 1 FROM Producto WHERE ProductoId = @ProductoId)
    BEGIN
        SELECT 0 AS CodeStatus, 'El producto no existe' AS MessageStatus;
        RETURN;
    END
    
    -- Verificar si hay suficiente existencia
    DECLARE @ExistenciaActual INT;
    SELECT @ExistenciaActual = Existencia FROM Producto WHERE ProductoId = @ProductoId;
    
    IF @ExistenciaActual < @Cantidad
    BEGIN
        SELECT 0 AS CodeStatus, 'No hay suficiente existencia disponible' AS MessageStatus;
        RETURN;
    END
    
    BEGIN TRY
        UPDATE Producto
        SET Existencia = Existencia - @Cantidad
        WHERE ProductoId = @ProductoId;
        
        IF @@ROWCOUNT > 0
            SELECT 1 AS CodeStatus, 'Existencia actualizada exitosamente' AS MessageStatus;
        ELSE
            SELECT 0 AS CodeStatus, 'No se pudo actualizar la existencia' AS MessageStatus;
    END TRY
    BEGIN CATCH
        SELECT 0 AS CodeStatus, ERROR_MESSAGE() AS MessageStatus;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Productos_Buscar]    Script Date: 01/02/2026 03:10:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- SP: Buscar producto por ID
-- =============================================
CREATE   PROCEDURE [dbo].[SP_Productos_Buscar]
    @ProductoId BIGINT
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        ProductoId,
        Nombre,
        Descripcion,
        Precio,
        Existencia,
        CreatedAt
    FROM Producto
    WHERE ProductoId = @ProductoId;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Productos_Eliminar]    Script Date: 01/02/2026 03:10:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- SP: Eliminar producto
-- =============================================
CREATE   PROCEDURE [dbo].[SP_Productos_Eliminar]
    @ProductoId INT
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        -- Validar que el producto existe
        IF NOT EXISTS (SELECT 1 FROM Producto WHERE ProductoId = @ProductoId)
        BEGIN
            SELECT 0 AS CodeStatus, 'El producto no existe' AS MessageStatus;
            RETURN;
        END

        -- Validar que el producto no tenga órdenes asociadas
        IF EXISTS (SELECT 1 FROM DetalleOrden WHERE ProductoId = @ProductoId)
        BEGIN
            SELECT 0 AS CodeStatus, 'No se puede eliminar el producto porque tiene órdenes asociadas' AS MessageStatus;
            RETURN;
        END

        -- Eliminar producto
        DELETE FROM Producto WHERE ProductoId = @ProductoId;

        -- Retornar éxito
        SELECT 1 AS CodeStatus, 'Producto eliminado exitosamente' AS MessageStatus;
    END TRY
    BEGIN CATCH
        SELECT 0 AS CodeStatus, ERROR_MESSAGE() AS MessageStatus;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Productos_Insertar]    Script Date: 01/02/2026 03:10:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- SP: Insertar nuevo producto
-- =============================================
CREATE   PROCEDURE [dbo].[SP_Productos_Insertar]
    @Nombre NVARCHAR(100),
    @Descripcion NVARCHAR(500),
    @Precio DECIMAL(10,2),
    @Existencia INT,
    @CreatedAt DATETIME2
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        -- Validar que el nombre no esté vacío
        IF LTRIM(RTRIM(@Nombre)) = ''
        BEGIN
            SELECT 0 AS CodeStatus, 'El nombre del producto es requerido' AS MessageStatus;
            RETURN;
        END

        -- Validar precio
        IF @Precio <= 0
        BEGIN
            SELECT 0 AS CodeStatus, 'El precio debe ser mayor a 0' AS MessageStatus;
            RETURN;
        END

        -- Validar existencia
        IF @Existencia < 0
        BEGIN
            SELECT 0 AS CodeStatus, 'La existencia no puede ser negativa' AS MessageStatus;
            RETURN;
        END

        -- Insertar producto
        INSERT INTO Producto (Nombre, Descripcion, Precio, Existencia, CreatedAt)
        VALUES (@Nombre, @Descripcion, @Precio, @Existencia, @CreatedAt);

        -- Retornar éxito
        SELECT 1 AS CodeStatus, 'Producto creado exitosamente' AS MessageStatus;
    END TRY
    BEGIN CATCH
        SELECT 0 AS CodeStatus, ERROR_MESSAGE() AS MessageStatus;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Productos_Listar]    Script Date: 01/02/2026 03:10:36 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- SP: Listar todos los productos
-- =============================================
CREATE   PROCEDURE [dbo].[SP_Productos_Listar]
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        ProductoId,
        Nombre,
        Descripcion,
        Precio,
        Existencia,
        CreatedAt
    FROM Producto
    ORDER BY ProductoId DESC;
END
GO
USE [master]
GO
